RewriteEngine on
Options -Indexes
ErrorDocument 400  /public_html/en/error.html
ErrorDocument 401  /public_html/en/error.html
ErrorDocument 403  /public_html/en/error.html
ErrorDocument 404  /public_html/en/error.html
ErrorDocument 500  /public_html/en/error.html