#RewriteEngine On
#RewriteRule ^$ https://www.patagoniascent.com/ [L]
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#RewriteCond %{HTTP_HOST} !^www.patagoniascent.com$
#RewriteRule (.*) https://www.patagoniascent.com/$1 [L,R=301]

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

ErrorDocument 400 https://www.patagoniascent.com/error.html
ErrorDocument 401 https://www.patagoniascent.com/error.html
ErrorDocument 403 https://www.patagoniascent.com/error.html
ErrorDocument 404 https://www.patagoniascent.com/error.html
ErrorDocument 500 https://www.patagoniascent.com/error.html