/*body{
	line-height: normal;
}*/
@font-face {
  font-family: Museo;
  src: url('fonts/museo/Museo300-Regular.otf');
}
@font-face {
  font-family: MuseoSlab;
  src: url('fonts/museo/Museo_Slab_100.otf');
}
@font-face {
  font-family: MuseoSans;
  src: url('fonts/museo/MuseoSans-300.otf');
}
@font-face {
  font-family: MuseoSans500;
  src: url('fonts/museo/MuseoSans-500.otf');
}
@font-face {
  font-family: MuseoSans100;
  src: url('fonts/museo/MuseoSans-100.otf');
}
h1,h2,h3,h4,h5{
	line-height: 1;
	font-weight: normal;
}
h1 {
	font-family: MuseoSlab,sans-serif;
	color: #ffffff;
}
h2 {
	font-family: MuseoSans500,Verdana;
	color: #ffffff;
}
h3{
	font-family: MuseoSlab,sans-serif;
	color: #ffffff;
	font-size: 40px;
}
h5 {
	font-family: MuseoSans,Verdana;
	color: #ffffff;
	font-size: 14px;
}
a:hover {
	color: #ffffff;
	text-decoration: none;
}
a{
	font-family: MuseoSans,Verdana;
}
li {
	list-style: none;  
}
ul{
	padding: 0px;
}
p{
	color:#FFFFFF;
}
/*Navigation Bar*/
.navbar {
   background-color: rgb(0,0,0,0.5)!important;
   padding: 0px 5px 0px 5px;
}
.nav-link{
	margin-top: 20px;
}
/*certificados*/
.certificados{
	margin-top: -15px;
}
/*logos follow-us en la barra de navegacion*/
.nav-logos{
	margin-left: 2px;
	margin-top: -5px;
}
.nav-logos a{
    font-size: 20px;
    padding: 0px 2px;
    color: #ffffff;
}
.nav-logos a:focus,
.nav-logos a:active,
.nav-logos a:hover{
    font-size: 20px;
    text-align: left;
    padding: 0px 2px;
    margin:  0px 0px;
}
/*carrusel*/
#slide2.lazy{
	 background-image: none;
}
#slide2{
	background-image: url("img/slide/slide2.jpeg");
}
#slide3.lazy{
	 background-image: none;
}
#slide3{
	background-image: url("img/slide/slide3.jpeg");
}
#slide4.lazy{
	 background-image: none;
}
#slide4{
	background-image: url("img/slide/slide4.jpeg");
}
.carousel-caption {
    position: static;
    padding-top: 101px;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.shape-shade-slider{
    width: fit-content;
    width: -moz-fit-content;
    background-color: rgba(0,0,0,0.5);
    padding: 40px 50px 80px 50px;
    text-align: left;
}
.link-slide {
	position: absolute;
	color: #ffffff;
	margin-top: 10px;
}
.link-slide :hover {
}
/* Sections */
#section2.lazy{
	 background-image: none;
}
.about-us{
	height: 100vh;
  	min-height: 350px;
	background-image: url("img/secciones/aboutus.jpeg");
 	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;/* Resize the background image to cover the entire container */
}
#section3.lazy{
	 background-image: none;
}
.mountaineering{
	height: 100vh;
  	min-height: 350px;
	background-image: url("img/secciones/mountaineering.jpeg");
 	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
 	background-size: cover; /* Resize the background image to cover the entire container */
}
#section4.lazy{
	 background-image: none;
}
.climbing{
	height: 100vh;
  	min-height: 350px;
	background-image: url("img/secciones/climbing.jpeg");
 	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
 	background-size: cover; /* Resize the background image to cover the entire container */
}
#section5.lazy{
	 background-image: none;
}
.ski{
	height: 100vh;
  	min-height: 350px;
	background-image: url("img/secciones/ski.jpeg");
 	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
 	background-size: cover; /* Resize the background image to cover the entire container */
}
#section6.lazy{
	 background-image: none;
}
.courses{
	height: 100vh;
  	min-height: 350px;
	background-image: url("img/secciones/curses.jpeg");
 	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
 	background-size: cover; /* Resize the background image to cover the entire container */
}

/*Sections*/
.shape-shade-section {
	position: relative;
    background-color: rgba(0,0,0,0.5);
    padding: 40px 50px 40px 50px;
    width: fit-content;
    width: -moz-fit-content; 
    margin-top: 97px; 
    text-align: left;
}

.menu-section a {
	font-family: MuseoSans100;
    font-size: 24px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px;
    letter-spacing: 0px;
    font-weight: normal;
    color: rgba(255,255,255);
}
.rounded-circle {
	width: 100px;

}
.card {
	background-color: transparent;
	border-radius: 0px;
	border: none;
	color: #FFFFFF;
	margin-top: 20px;
}
.card h4 {
	font-family: MuseoSlab;
	color: #ffffff;
	font-size: 34px;
	margin-bottom: 0px;
}
.card a{
	color: #FFFFFF;
	font-size: 14px;
	font-family: MuseoSans100;
}
.texthome{
	color: #FFFFFF;
	font-size: 18px;
	font-family: MuseoSans;
}
.texthome-courses{
	width: 250px;
}
.texthome-aboutus{
	width: 1000px;
}
.carousel-indicators li {
	height: 15px;
}


/*/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////*/


/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

	h3{
		font-size: 30px;
	}
	/*.about-us{
	height: 180vh;
	}*/	
	/*.mountaineering, .climbing, .ski, .courses{
		height: auto !important;
	}*/
	.navbar {
    	background-color: rgb(0,0,0,0.8)!important;
    	margin-top: 0px;
    	text-align: right;
	}
	.nav-link{
		margin-top: 0px;
		padding: 5px 5px;
	}
	.carousel-caption {
    	padding-top: 87px;
	}
	.shape-shade-slider{
		padding: 30px 30px 60px 15px;
	}
	.shape-shade-section {
	    margin-top: 83px; 
	    height: fit-content;
	    width: -moz-fit-content;
	    background-color: rgba(0,0,0,0.5);
	    padding: 30px 15px 30px 10px;
	    text-align: left;
	    margin-bottom: 80px;
	}
	.menu-section a {
    	font-size: 18px;
    	letter-spacing: 0px;
	}
	.card-body{
		padding:8px;
	}
	.card h4 {
		font-size: 26px
	}

}


/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
	
	h3{
		font-size: 30px;
	}
	/*.about-us{
		height: auto !important;
	}*/
	/*.mountaineering, .climbing, .ski, .courses {
		height: auto !important;
	}*/
	.navbar {
    	background-color: rgb(0,0,0,0.5)!important;
    	margin-top: 0px;
    	text-align: right;
	}
	.nav-link{
		margin-top: 0px;
		padding: 5px 5px;
	}
	.carousel-caption {
    	padding-top: 87px;
	}
	.shape-shade-slider{
		padding: 30px 30px 60px 15px;
	}
	.shape-shade-section {
	    margin-top: 83px; 
	    height: fit-content;
	    background-color: rgba(0,0,0,0.5);
	    padding: 30px 15px 30px 20px;
	    text-align: left;
	    margin-bottom: 80px;
	}
	.menu-section a {
    	font-size: 18px;
    	letter-spacing: 0px;
  
	}
	.card-body{
		padding:8px;
	}
	.card h4 {
		font-size: 26px
	}


}

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

	.carousel-caption {
    	padding-top: 87px;
	}

	.about-us, .mountaineering, .climbing, .ski, .courses{
		height: auto;
	}

}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {



}




