@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
html {
    -webkit-font-smoothing: antialiased;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#fff;
}
label{
    font-size: 20px;
    font-weight: normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { 
	border: 0;
}

/* CSS de version 1.0
* --------------------------------------- */
h1 {
   /* text-transform: uppercase;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 60px;
    margin-bottom: 5px;
    margin-top: 2px;
}

h2 {
   /* text-transform: uppercase;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: 1px; 
    font-size: 40px; 
    margin-bottom: 10px;
    margin-top: 2px;
    background-color: rgba(35,60,130,.6);
    width: max-content;
    padding: 5px 10px;
}

h3{
    /* text-transform: uppercase;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: 1px; 
    font-size: 33px; 
    margin-bottom: -2px;
    margin-top: 10px; 
}

h4,
h5,
h6 {
   /* text-transform: uppercase;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
}

p {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
}
a {
    color: #fff;
    border-radius: 0px;
    font-weight: 400;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #fff;
}
/*nav-bar*/
.navbar-custom {
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: transparent;
    font-weight: lighter;
    font-size: 14px;
    padding-top: 40px;
    letter-spacing: 1px;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
} 
.nav > li > a {
    position: relative;
    display: block;
    padding: 6px 8px;
    margin: 0px 0px;
    font-size: 16px;
    font-weight: 400;
}
.navbar-nav {
    float: right;
    margin: 10px;
}
.nav-logos{
    margin-left: 12px;
}
.nav-logos a{
    font-size: 18px;
    text-align: left;
    padding: 0px 0px;
    margin:  0px 0px;
}
.nav-logos a:focus,
.nav-logos a:active{
    font-size: 18px;
    text-align: left;
    padding: 0px 0px;
    margin:  0px 0px;
}
/*.navbar-collapse{
    box-shadow: none;
    float: left;
    color: #000;
}*/
.navbar-brand,
.navbar-brand:focus,
.navbar-brand:active {
   padding: 0px 0px;
   background-color: transparent;
   margin: 0px;
}
.navbar-brand img {
    margin-top: -22px;
    background-color: transparent;
}
.navbar-custom .navbar-brand:focus {
    outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
}
.navbar-toggle{
    color: #fff;
    /*margin-top: 10px;
    margin-right: 0px;
    padding: 10px 8px;*/
}
.navbar-brand .navbar-toggle:focus,
.navbar-brand .navbar-toggle:active {
    outline: 0;
}
.nav li a {
    -webkit-transition: background .0s ease-in-out;
    -moz-transition: background .0s ease-in-out;
    transition: background .0s ease-in-out;
}
.nav li a:hover{
    color: rgba(255,255,255);
    background-color: transparent;
    outline: 0;
}
.nav li a:focus,
.nav li a:active {
    outline: 0;
    background-color: transparent;
    color: rgba(255,255,255);
}
.nav li.active {
    outline: 0;
}
.nav li.active a {
    /*background-color: rgba(35,60,130);*/
    background-color: transparent;
    color: rgba(255,255,255);
}
.nav li.active a:hover {
    color: #fff;
}
.nav li.active ul a {
    background-color: transparent;
}
.nav li img{
    margin-top: -20px;
}
.link-slide{
	float: left;
	margin-top: 30px;
    font-weight: 200;
    font-size: 14px;
}
.nav .flag{
    margin-top: 2px;
    width: 20px;
    height: 16px;
}
/*nav-bar*/
.TA_selfserveprop{
    margin-top: -20px;
}
/* 
Class sections CSS 
* ---------------------------------------background-color: rgba(18,37,35,0.4); */
/* Filtro gris para todoas las fotos del home*/
.bg-shade {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 2;
}
/*Fin*/
.section{
    background-color: rgba(35,60,130,.8);
    background-position: center;
	background-size: cover;
	text-align: left;
}
.section h2{
	color: #fff;
}
.section .menu-section li a {
    font-size: 22px;
    padding: 0px 8px 0px 8px;
    margin: 0px 10px;
    letter-spacing: 2px;
    font-weight: 400;
    color: rgba(255,255,255);
    /*background-color: rgba(35,60,130,.6);*/
    width: max-content;
    z-index: 5;
    position: relative;
}
.section li a:hover{
    background-color: rgba(255,255,255,.3);
    /*width: auto;*/
	background-color: rgba(35,60,130,.6);
    color: rgba(35,60,129)
    z-index: 5;
    position: relative;
}
.section button {
    border-radius: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    padding: 5px 5px;
    margin: 5px -7px;
    z-index: 5;
    position: relative;
}
.section button:hover{
    border-radius: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    background-color: rgba(255,255,255,.3);
    border-color: transparent;
    font-size: 20px;
    padding: 5px 5px;
    margin: 5px -7px;
    z-index: 5;
    position: relative;
}

/* 
Class slides CSS
* --------------------------------------- */
.slide{
    background-color: rgba(35,60,130,.6);
	background-size: cover;
    /*background-position: center;*/
}
.slide h1{
    /*background-color: rgba(35,60,130,.6);
    width: max-content;*/
	text-align: left;
	color: #fff;
    padding: 5px 10px; 
    margin: 3px 0px;  
    z-index: 5;
    position: relative;
}
.slide h3{
    /*background-color: rgba(35,60,130,.6);
    width: max-content;*/
	text-align: left;
	color: #fff;
    padding: 5px 10px;
    margin: 3px 0px;
    z-index: 5;
    position: relative;
}
.slide a{
    background-color: transparent;
    /*background: rgba(35,60,130,.6);
    width: max-content;*/
    padding: 5px 10px;
    margin: 3px 0px;
    font-weight: 400;
    font-size: 18px;
    z-index: 5;
    position: relative;
}
.slide a:hover, a:focus{
    background: rgba(35,60,130,.6);
    color: rgba(255,255,255);
    width: max-content;
    padding: 5px 10px;
    margin: 3px 0px;   
    font-size: 18px;
    z-index: 5;
    position: relative;
}

/*ID slides style
* --------------------------------------- */
#slide1{
	background-image: url(img/slide/portada2.jpg);
	padding: 0% 0% 0% 2%; 
}
#slide2.lazy{
    background-image: none;
}
#slide2{
	background-image: url(img/slide/portada3.jpg);
	padding: 0% 0% 0% 2%;
}
#slide3.lazy{
    background-image: none;
}
#slide3{
	background-image: url(img/slide/portada7.jpg);
	padding: 0% 0% 0% 2%;
}
#slide4.lazy{
    background-image: none;
}
#slide4{
    background-image: url(img/slide/portada5.jpg);
    padding: 0% 0% 0% 2%;
}
#slide5.lazy{
    background-image: none;
}
#slide5{
	background-image: url(img/slide/portada6.jpg);
	padding: 0% 0% 0% 2%;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: #fff;
}

/* ID sections style
* --------------------------------------- */
/*Section1-Nosotros*/

#section1.lazy{
    background-image: none;
}
#section1{
	background-image: url(img/secciones/nosotros.jpg);
	padding: 2% 10% 2% 10%;
}
#section1 h1{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: 1px; 
    font-size: 40px; 
    /*margin-bottom: 10px;*/
    margin-top: 2px;
    padding: 5px 10px;
    color: #fff;
    z-index: 5;
    position: relative;
    /*background-color: rgba(35,60,130);
    width: max-content;*/
}
#section1 p{
    font-size: 18px;
    letter-spacing: 1px;
    /*background-color: rgba(35,60,130,.6);*/
    color: rgba(255,255,255);
    padding: 10px;
    line-height: normal;
    z-index: 5;
    position: relative;
}
#section1 .thumbnail {
    display: inline-table;
    border: none;
    border-radius: 0px;
    padding: 0px;
    background-color: rgba(255,255,255,.6);
    z-index: 5;
    position: relative;
    /*margin: 10px -30px 10px 0px;*/
}
#section1 .thumbnail .img-thumbnail{
    float: right;
    width: 33%;
    padding: 0px;
    background-color: #fff;
    border: 0px solid #fff;
    border-radius: 0px; 
    z-index: 5;
    position: relative;
}
#section1 .thumbnail .caption{
    width: 65%;
    float: left;
    color: rgb(35,60,130);
    background-color: transparent;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 0px;
    z-index: 5;
    position: relative;
}
#section1 .thumbnail .caption h2{
    font-weight: 400;
    font-size: 26px;
    color: rgb(35,60,130);
    padding: 0px;
    margin: 0px;
    background-color: transparent;
}
#section1 .thumbnail .caption h3{
    font-size: 12px;
    font-weight: 400;
    color: rgb(35,60,130);
    margin-top: 4px;
    margin-bottom: 22px;
    color: rgb(35,60,130);
    letter-spacing: 1px;
    z-index: 5;
    position: relative;
}
#section1 .button {
  border-radius: 0;
  text-transform: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  background-color: transparent;
  border: none;
  font-size: 16px;
  letter-spacing: 1px;
  color: rgb(35,60,130);
  z-index: 5;
position: relative;
}
#section1 a:active, a:focus, a:hover{
  margin: 0px;
  padding: 0px;
}
#linkhometext {  
    font-weight: bold;
}
/*EndSection1*/

/*Section2-Montana*/
#section2.lazy{
    background-image: none;
}
#section2{
	background-image: url(img/secciones/montana.jpg);
	padding: 2% 10% 2% 10%;
}
#section2 h1{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: 1px; 
    font-size: 40px; 
    /*margin-bottom: 10px;*/
    margin-top: 2px;
    /*background-color: rgba(35,60,130,.6);
    width: max-content;*/
    padding: 5px 10px;
    color: #fff;
    z-index: 5;
    position: relative;
}
/*EndSection2*/

/*Section3-Escalada*/
#section3.lazy{
    background-image: none;
}
#section3{
	background-image: url(img/secciones/escalada.jpg);
	padding: 2% 10% 2% 10%;
}
#section3 h1{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: 1px; 
    font-size: 40px; 
    /*margin-bottom: 10px;*/
    margin-top: 2px;
   /* background-color: rgba(35,60,130,.6);
    width: max-content;*/
    padding: 5px 10px;
    color: #fff;
    z-index: 5;
    position: relative;
}
/*EndSection3*/

/*Section4*/
#section4.lazy{
    background-image: none;
}
#section4{
	background-image: url(img/secciones/ski2.jpg);
	padding: 2% 10% 2% 10%;
}
#section4 h1{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: 1px; 
    font-size: 40px; 
    /*margin-bottom: 10px;*/
    margin-top: 2px;
    /*background-color: rgba(35,60,130,.6);
    width: max-content;*/
    padding: 5px 10px;
    color: #fff;
    z-index: 5;
    position: relative;
}
/*EndSection4*/

/*Section5*/
#section5.lazy{
    background-image: none;
}
#section5{
	background-image: url(img/secciones/cursos2.jpg);
	padding: 2% 10% 2% 10%;
}
#section5 h1{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: 1px; 
    font-size: 40px; 
    margin-bottom: 10px;
    margin-top: 2px;
    /*background-color: rgba(35,60,130,.6);
    width: max-content;*/
    padding: 5px 10px;
    color: #fff;
    z-index: 5;
    position: relative;
}
#section5 p{
	margin-bottom: 10px;
    /*background-color: rgba(35,60,130,.6);*/
    color: rgba(255,255,255);
    padding: 10px;
    z-index: 5;
    position: relative;
}
/*EndSection5*/

/*Section6*/
#section6.lazy{
    background-image: none;
}
#section6{
	background-image: url(img/secciones/contacto.jpg);
	padding: 2% 10% 0% 10%;
}
#section6 h1{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: 1px; 
    font-size: 40px; 
    margin-bottom: 10px;
    margin-top: 2px;
   /* background-color: rgba(35,60,130,.6);
    width: max-content;*/
    padding: 5px 10px;
    color: #fff;
    z-index: 5;
    position: relative;
}
#section6 .row h2{
    color: #ffffff;
    font-size: 30px;
    margin: 5px 0px;
    background-color: transparent;
    z-index: 5;
    position: relative;
}
#section6 .send{
    border-radius: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    /*background-color: transparent;*/
    border-color: transparent;
    font-size: 16px;
    float: left;
    padding: 6px 8px;
    z-index: 5;
    position: relative;
}
#section6 .contactform {
    width: 250px;
    z-index: 5;
    position: relative;
}
#section6 .form-control{
	border-radius: 0px;
}
#section6 .close{
    font-size: 20px;
    padding: 0px;
    font-weight: 600;
}
#section6 .btn-primary {
    background-color: rgb(35,60,130);
}
#section6 .contactform .form-group {
    margin-bottom: 7px;
}
/*#section6 .btn-primary a:hover{
    background-color: rgb(35,60,130,.5);
}*/
/*EndSection6*/

/*Footer*/
.footer{
    margin-top: 40px;
    text-align: left;
    font-size: 18px;
    z-index: 5;
    position: relative;
}
.footer a{

}
.footer h4{
    color: #ffffff;
    font-weight: 400;
    z-index: 5;
    position: relative;
}
/*Footer*/

/*Arrow*/
.fp-controlArrow.fp-prev {
    /*border-width: 38.5px 34px 38.5px 0;*/
    left: 30px;
}
.fp-controlArrow.fp-next {
    /*border-width: 38.5px 0 38.5px 34px;*/
    right: 30px;
}
/*End-Arrow*/

/*Alert Massege*/
.alert {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    border-radius: 0px;
    margin-top: -10px;
}
/*End Alert Massege*/



/* RESPONSIVE CSS
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------- */

@media screen and (orientation: portrait) {

    #section2 li a {
        font-size: 16px;
    }
    #section3 li a {
        font-size: 16px;
    }
    #section4 li a {
        font-size: 16px;
    }
    #section5 li a {
        font-size: 16px;
    }
}

@media screen and (orientation: landscape){


}

/* Extra Small */
@media screen and (max-width:767px) {

    h1{
        font-size: 28px !important;
    }
    h2{
        font-size: 28px;
        padding: 3px 5px;
    }
    h3{
        font-size: 25px;
        margin-bottom: 10px;
    }
    p{
        font-size: 15px;
    }
    #slide1, #slide2, #slide3, #slide4, #slide5{
        padding: 0% 1% 0% 1%;
        background-position: center;
    }
    /*#section1, #section2, #section3, #section4, #section5, #section6 h1{
        font-size: 32px;
    }*/
    .navbar-nav {
        float: left;
        margin: 10px;
    }
    .nav > li > a {
        position: relative;
        display: block;
        padding: 4px 9px;
        margin: 0px 0px;
        font-size: 18px;
        font-weight: 200;
    }
    .section .menu-section li a {
        font-size: 14px;
        padding: 2px 10px;
        width: 100%;
        margin-left: 0px;
        letter-spacing: 2px;
        font-weight: 400;
    }
    .slide h1 {
        width: initial;
    }
    .slide h2 {
        width: initial;
    }
    .slide h3 {
        width: initial;
    }
    .slide a {
        padding: 0px 5px;
        width: initial;
    }

    /*Nosotros-Thumbnails*/
    #section1 .thumbnail .caption {
        width: 66%;
        float: left;
        /*color: rgb(35,60,130,.5);*/
        text-align: left;
        /*padding: 8px 8px 6px 8px;*/
        margin-left: 0px;
        /*background-color: rgb(255,255,255,.5);*/
    }
    #section1 .thumbnail .img-thumbnail {
        width: 32%;
    }
    #section1 .thumbnail .caption h2 {
        font-size: 20px;
    }
    #section1 .thumbnail .caption h3{
        margin-bottom: 0px;
        font-size: 8px;
        margin-top: 0px;
    }
    #section1 .thumbnail .caption h4 {
        font-weight: 400;
        font-size: 14px;
        color: rgb(35,60,130);
    }
    #section1 .thumbnail .caption h5 {
        font-size: 12px;
        font-weight: 200;
        color: rgb(35,60,130);
        margin-top: 1px;
    }
    #section1 .button{
        margin-top: 6px;
        font-size: 12px;
    }
    /*EdnThumbnails*/
    
    /*Contact*/
    #section6 .contactform {
        width: 250px;
        margin-top: 50px;
    }
    #section6 .form-control {
        border-radius: 0px;
        /*display: block;
        width: 100%;
        height: 20px;
        padding: 0px 5px;
        font-size: 10px;*/
    }
    .section button {
        margin-top: -8px;
        font-size: 12px;
    }
    #section6 .footer {
        margin-top: 10px;
    }
    #section6 .footer p {
        font-size: 10px;
        text-align: right;
        color: rgba(35,60,130,.99);
    }
    #section6 .footer h4 {
        color: #ffffff;
        font-size: 16px;
        text-align: left;
        margin: 10px 14px;
        font-weight: 400;
    }
     .send{
        padding: 0px;
        font-size: 16px;
    }
    /*EndContact*/

    /*arrows*/
    .fp-controlArrow{
        display:none !important;
    }

    .navbar-brand img {
        width: 120px;
        margin-top: 5px;
        margin-left: 5px;
    }
    .navbar-collapse{
        background: rgba(35,60,130,0.8);
    }
    .navbar-custom {
        padding-top: 0px;
    }
   
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {

    h1{
        font-size: 40px;
    }
    h2{
        font-size: 28px;
        padding: 3px 5px:;
    }
    h3{
        font-size: 28px;
    }
    .navbar-nav {
        margin: 10px 0px;
    }
    .nav > li > a {
        position: relative;
        display: block;
        padding: 2px 4px;
        margin: 0px 0px;
        font-size: 12px;
        font-weight: 400;
    }
    .nav-logos {
        margin-left: -5px;
    }
    .navbar-custom{
        padding-top: 30px;
    }
    .navbar-custom .navbar-brand img {
        padding-top: 15px;
        width: 118px;
    } 
    .nav .flag {
    margin-top: 3px;
    width: 16px;
    height: 12px;
    }  
    #section1 .thumbnail .img-thumbnail {
        width: 22%;
    }
}

/* Medium */
@media (min-width:992px) and (max-width:1199px){
    
    .navbar-custom .navbar-brand img {
        width: 170px;
    }
    .nav > li > a {
        padding: 6px 1px;
        margin: 0px 4px;
    }
    .nav-logos {
        margin-left: 0;
    }
    #section1 .thumbnail .caption {
        width: 50%; 
    }
    #section1 .thumbnail .img-thumbnail {
        width: 40%;
    }
}

/* Large */
@media screen and (min-width:1700px){

    #section1,#section2,#section3,#section4,#section5,#section6 {
        padding: 2% 22% 2% 22%;
    }
    #slide1,#slide2,#slide3,#slide4,#slide5{
        padding: 0% 0% 0% 4.4%;
    }

}





