@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
html {
    -webkit-font-smoothing: antialiased;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
label{
    font-size: 20px;
    font-weight: normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { 
	border: 0;
}

/* CSS de version 1.0
* --------------------------------------- */
h1 {
   /* text-transform: uppercase;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 60px;
    margin-bottom: 5px;
    margin-top: 2px;
}

h2 {
   /* text-transform: uppercase;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: 1px; 
    font-size: 40px; 
    margin-bottom: 10px;
    margin-top: 2px;
    /*background-color: rgba(35,60,130,.8);*/
    width: max-content;
    padding: 5px 0px;
}

h3{
    /* text-transform: uppercase;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: 1px; 
    font-size: 33px; 
    margin-bottom: -2px;
    margin-top: 10px; 
}

h4,
h5,
h6 {
   /* text-transform: uppercase;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
}

p {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
}
a {
    color: #fff;
    border-radius: 0px;
    font-weight: 400;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #fff;
}
/*nav-bar*/
.navbar-custom {
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: transparent;
    font-weight: lighter;
    font-size: 14px;
    padding-top: 60px;
    letter-spacing: 1px;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
} 
.nav > li > a {
    position: relative;
    display: block;
    padding: 6px 8px;
    margin: 0px 0px;
    font-size: 16px;
    font-weight: 400;
}
.navbar-nav {
    float: right;
    margin: 10px;
}
.nav-logos{
    padding-left: 10px;
    font-size: 18px;
    text-align: left;
}
/*.navbar-collapse{
    box-shadow: none;
    float: left;
    color: #000;
}*/
.navbar-brand {
   padding: 0px;
}
.navbar-brand img {
    margin-top: -21px;
}
/*.navbar-custom .navbar-brand:focus {
    outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
}*/
.navbar-toggle{
    color: #fff;
    margin-top: 18px;
}
.navbar-brand .navbar-toggle:focus,
.navbar-brand .navbar-toggle:active {
    outline: 0;
}
.nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.nav li a:hover {
    color: rgba(255,255,255,.8);
    background-color: transparent;
    outline: 0;
}
.nav li a:focus,
.nav li a:active {
    outline: 0;
    background-color: transparent;
}
.nav li.active {
    outline: 0;
}
.nav li.active a {
    background-color: rgba(255,255,255,.3);
}
.nav li.active a:hover {
    color: #fff;
}
.nav li.active ul a {
    background-color: transparent;
}
 .nav li img{
    margin-top: -20px;
}
.link-slide{
	float: left;
	margin-top: 30px;
    font-weight: 200;
    font-size: 14px;
}
.nav .flag{
    margin-top: 2px;
    width: 20px;
    height: 16px;
}
/*nav-bar*/

/* 
Class sections CSS 
* --------------------------------------- */
.section{
	background-size: cover;
	color: #fff;
	text-align: left;
    background-position: center;
}
.section h2{
	color: #fff;
}
.section .menu-section li a {
    font-size: 18px;
    padding: 3px 3px 3px 5px;
    margin-left: 15px;
    letter-spacing: 2px;
    font-weight: 400;
}
.section li a:hover{
    /*background-color: rgba(255,255,255,.3);*/
    width: auto;
	background-color: rgba(35,60,129,.8);
}
/*.section button {
    border-radius: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    padding: 5px 5px;
    margin: 5px -7px;
}
.section button:hover{
    border-radius: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    background-color: rgba(255,255,255,.3);
    border-color: transparent;
    font-size: 20px;
    padding: 5px 5px;
    margin: 5px -7px;
}*/
.send{
    border-radius: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
}
/* 
Class slides CSS
* --------------------------------------- */
.slide{
	background-size: cover;
    background-position: center;
}
.slide h1{
	text-align: left;
	color: #fff;
    /*background-color: rgba(35,60,130,.8);
    width: max-content;*/
    padding: 5px 10px;  
}
.slide h3{
	text-align: left;
	color: #fff;
    /*background-color: rgba(35,60,130,.8);
    width: max-content;*/
    padding: 5px 10px;
}
.slide a{
    /*background: rgba(35,60,130,.8);
    width: max-content;*/
    padding: 5px 10px;
}
/*ID slides style
* --------------------------------------- */
#slide1{
	background-image: url(img/slide/portada11.jpg);
	padding: 0% 0% 0% 2%;
}
#slide2{
	background-image: url(img/slide/portada10.jpg);
	padding: 0% 0% 0% 2%;
}
#slide3{
	background-image: url(img/slide/portada4.jpg);
	padding: 0% 0% 0% 2%;
}
#slide4{
	background-image: url(img/slide/portada9.jpg);
	padding: 0% 0% 0% 2%;
}
#slide5{
	background-image: url(img/slide/portada3.jpg);
	padding: 0% 0% 0% 2%;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: #fff;
}
/* ID sections style
* --------------------------------------- */
/*Section1-Nosotros*/
#section1{
	background-image: url(img/secciones/nosotros.jpg);
	padding: 2% 10% 2% 10%;
}
#section1 p{
	margin-top: 20px;
}

#section1 .thumbnail {
    display: inline-table;
    border: none;
    border-radius: 0px;
    padding: 0px;
    margin: 10px -30px 10px 0px;
}
#section1 .thumbnail .img-thumbnail{
    float: right;
    width: 33%;
    padding: 0px;
    background-color: #fff;
    border: 0px solid #fff;
    border-radius: 0px; 
}
#section1 .thumbnail .caption{
    width: 60%;
    float: left;
    color: rgb(35,60,130);
    text-align: left;
    padding: 0px;
    margin-left: 18px;
    margin-top: 10px;
    background-color: #fff;
}
#section1 .thumbnail .caption h4{
    font-weight: 400;
    font-size: 20px;
    color: rgb(35,60,130);
}
#section1 .thumbnail .caption h5{
    font-size: 14px;
    font-weight: 400;
    color: rgb(35,60,130);
    margin-top: 4px;
}
#section1 .button {
  border-radius: 0;
  text-transform: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  background-color: #fff;
  border: none;
  margin-top: 20px;
  padding: 0px;
  font-size: 14px;
  letter-spacing: 2px;
}
/*EndSection1*/
/*Section2-Montana*/
#section2{
	background-image: url(img/secciones/montana.jpg);
	padding: 2% 10% 2% 10%;
}
/*EndSection2*/
/*Section3-Escalada*/
#section3{
	background-image: url(img/secciones/escalada.jpg);
	padding: 2% 10% 2% 10%;
}
/*EndSection3*/
/*Section4*/
#section4{
	background-image: url(img/secciones/ski2.jpg);
	padding: 2% 10% 2% 10%;
}
/*EndSection4*/
/*Section5*/
#section5{
	background-image: url(img/secciones/cursos2.jpg);
	padding: 2% 10% 2% 10%;
}
#section5 p{
	margin-bottom: 20px; 
    margin-left: 20px;
}
/*EndSection5*/
/*Section6*/
#section6{
	background-image: url(img/secciones/contacto.jpg);
	padding: 5% 10% 0% 10%;
}
#section6 h2{
	float: left;
	margin-top: -8px;
}
#section6 .contactForm{
	margin-top: 60px;
	float:right;
	width: 70%;	
}
#section6 .form-control{
	border-radius: 0px;
}
#section6 .footer{
	margin-top: 40px;
}
#section6 .footer h4{
    font-size: 14px;
    color: #fff;
    text-align: right;
}
#section6 .footer p{
    font-size: 14px;
    text-align: right;
}
/*#section6 button.close{
    padding: 12px;
    background-color: transparent;
}*/
/*EndSection6*/

/*Modals*/
.modal-content{
    border-radius: 0px;
    padding: 30px 40px 80px 40px;
    font-size: 18px;
}
.modal-header {
    color: rgb(35,60,130);
    background: transparent;
    text-align: left;
    border-bottom: none;
    padding-bottom: 5px;
  }
.modal-header h3{
	color: rgb(35,60,130);
    font-weight: 200;
    font-size: 30px;
    text-align: left;
    margin-left: 115px;
    margin-top: -180px;
}
.modal-header h4{
	color: rgb(35,60,130);
    font-size: 20px;
    text-align: left;
    margin-left: 115px;
    margin-top: 0px;
    font-weight: 200;
}
.modal-body {
    color: #999;
    margin-left: 115px;
    margin-top: 5px;
    font-weight: 300;  
    padding-bottom: 0px;
}
.modal-body img{
    float: right;
    margin-top: -14px;
}
.modal-body p{
    margin-bottom: 0px;
}
.modal-footer {
    border: none;
    padding-top: 0px;
}
.modal-footer button{
    background-color: rgb(35,60,130);
    border-color: rgb(35,60,130);
    width: 208px;
    font-size: 18px;
}
.close {
    font-size: 20px;
    font-weight: normal;
    color: rgb(35,60,130);
    opacity: 1; 
}
.close:hover{
    color: rgb(35,60,130);
    opacity: 1;
}
/*EndModals*/
/*Arrow*/
.fp-controlArrow {
}
.fp-controlArrow.fp-prev {
    /*border-width: 38.5px 34px 38.5px 0;*/
    left: 30px;
}
.fp-controlArrow.fp-next {
    /*border-width: 38.5px 0 38.5px 34px;*/
    right: 30px;
}
/*End-Arrow*/

/*Alert Massege*/
.alert {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    border-radius: 0px;
    margin-top: -10px;
}
/*End Alert Massege*/

/* RESPONSIVE CSS
-------------------------------------------------- */

@media screen and (orientation: portrait) {
    #section2 li a {
        font-size: 16px;
    }
    #section3 li a {
        font-size: 16px;
    }
    #section4 li a {
        font-size: 16px;
    }
    #section5 li a {
        font-size: 16px;
    }
}

@media screen and (orientation: landscape){

    h2{
        margin-bottom: 0px;
    }
}

/* Extra Small */
@media screen and (max-width:767px) {
    
    #slide1, #slide2, #slide3, #slide4, #slide5{
        padding: 0% 2% 2% 2%;
        background-position: center;

    }

    #section1{
        padding: 3% 10% 0% 10%;
    }
    #section2{
        padding: 3% 10% 0% 10%;
    }
    #section3{
        padding: 3% 10% 0% 10%;
    }
    #section4{
        padding: 3% 10% 0% 10%;
    }
    #section5{
        padding: 3% 10% 0% 10%;
    }
    #section6{
        padding: 3% 10% 0% 10%;
    }

    h1{
        font-size: 32px;
    }
    h2{
        font-size: 28px;
    }
    h3{
        font-size: 25px;
        margin-bottom: 10px;
    }
    p{
        font-size: 15px;
    }
    .navbar-nav {
        float: left;
        margin: 10px;
    }
    .nav > li > a {
        position: relative;
        display: block;
        padding: 4px 9px;
        margin: 0px 0px;
        font-size: 18px;
        font-weight: 200;
    }
    .section .menu-section li a {
        font-size: 14px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: 10px;
        margin-bottom: 0px;
        width: 100%;
        letter-spacing: 2px;
        font-weight: 400;
    }
    /*Nosotros-Thumbnails*/
    #section1 .thumbnail .caption {
        width: 100%;
        float: left;
        color: rgb(35,60,130);
        text-align: left;
        padding: 8px 8px 6px 8px;
        margin-left: 0px;
        margin-top: -12px;
        background-color: #fff;
    }
    #section1 .thumbnail .caption h4 {
        font-weight: 400;
        font-size: 14px;
        color: rgb(35,60,130);
    }
    #section1 .thumbnail .caption h5 {
        font-size: 12px;
        font-weight: 200;
        color: rgb(35,60,130);
        margin-top: 1px;
    }
    #section1 .button{
        margin-top: 6px;
        font-size: 12px;
    }
    /*EdnThumbnails*/
    /*Contact*/
    #section6 .contactForm {
    margin-top: 10px;
    float: right;
    width: 95%;
    }
    .form-control {
        display: block;
        width: 100%;
        height: 20px;
        padding: 0px 5px;
        font-size: 10px;
    }
    .form-group {
        margin-bottom: 0px;
    }
    .section button {
        margin-top: -8px;
        font-size: 12px;
    }
    #section6 .footer {
        margin-top: 10px;
    }
    #section6 .footer p {
        font-size: 10px;
        text-align: right;
    }
    #section6 .footer h4 {
        font-size: 10px;
    }
    /*EndContact*/
    .footer{
        background-color: black;
    }
    /*Modal*/
    .modal { 
    }
    .modal-content{
        padding: 10px 10px 35px 10px;
    }
    .modal-header{
    }
    .modal-body { 
        margin-left: 0px;
        margin-top: 0px;
    }
    .modal-header h3 {
        margin: 0px;
        font-size: 22px;
    }
    .modal-header h4 {
        margin: 0px;
        font-size: 14px;
    }
    .modal p{
        font-size: 14px;
    }
    button.close {
        font-size: 40px;
    }    
    /*EndModal*/
    .navbar-brand img {
        width: 100px;
        margin-top: 14px;
        margin-left: 14px;
    }
    .navbar-collapse{
        background: rgba(35,60,130,0.8);
    }
    .navbar-custom {
        padding-top: 0px;
    }

    .send{
        padding: 0px;
        font-size: 16px;
    }
}

/* Small */
@media (min-width: 768px) and (max-width: 991px) {

    .nav > li > a {
        position: relative;
        display: block;
        padding: 6px 2px;
        margin: 0px 5px;
        font-size: 14px;
        font-weight: 400;
    }

    .navbar-custom{
        padding-top: 30px;
    }
    .navbar-custom .navbar-brand img {
        padding-top: 15px;
        width: 130px;
    }   
    h3{
        font-size: 28px;
    }
    h1{
        font-size: 40px;
    }
    #section1 .thumbnail .img-thumbnail {
        width: 22%;
    }
}

/* Medium */
@media (min-width:992px) and (max-width:1199px){
    
    .navbar-custom .navbar-brand img {
        width: 170px;
    }
    .nav > li > a {
        padding: 6px 10px;
        margin: 0px 1px;
    }
    #section1 .thumbnail .caption {
        width: 50%; 
    }
    #section1 .thumbnail .img-thumbnail {
        width: 40%;
    }
}

/* Large */
@media screen and (min-width:1700px){

    #section1,#section2,#section3,#section4,#section5,#section6 {
        padding: 2% 22% 2% 22%;
    }
    #slide1,#slide2,#slide3,#slide4,#slide5{
        padding: 0% 0% 0% 4.4%;
    }

}





